recursive-include promptmanager/app_app *.md
recursive-include promptmanager/app_overview *.md
recursive-include promptmanager/command *.sh
recursive-include promptmanager/exception *.md
recursive-include promptmanager/model/default *.conf
recursive-include promptmanager/model *.json
recursive-include promptmanager/pmctl *.sqlite3
recursive-include promptmanager/runtime/enumeration *.py
recursive-include promptmanager/script *.py
recursive-include promptmanager/template *.html
recursive-include promptmanager/web *.png
recursive-include promptmanager/web *.css
recursive-include promptmanager/web *.js
recursive-include promptmanager/web *.svg
recursive-include promptmanager/web *.md
recursive-include promptmanager *.sql
recursive-include promptmanager *.txt
recursive-include promptmanager *.py