asgiref==3.7.2
Django==4.2.4
pip==23.2.1
pytz==2023.3
setuptools==68.0.0
sqlparse==0.4.4
typing_extensions==4.7.1
tzdata==2023.3
wheel==0.38.4
Requests==2.31.0
pandas==2.1.0
python-docx==0.8.11
openpyxl==3.1.2
xlrd==2.0.1
psutil==5.9.0
numpy==1.26.0
tenacity==8.2.2